{:paths ["src"]
:aliases
 {:test
  {:paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.83.1314"}
                lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
   ;; :main-opts ["-m" "kaocha.runner"]
   }}}